body {
  background-image: url(img/spazzyback.gif);
  color: BlueViolet;
  margin: 0 auto;
  text-align: center;
  font-family: 'Papyrus';
  
}

nav {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0px;
}

.navi {
  background:cornsilk ;
  padding: 1vw;
  flex: 1;
  text-decoration: none;
  color:darkgoldenrod;
  font-size: large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  align-items: center;
}

.navi:hover {
  border: 0.2vw inset;
  border-color: white;
}

#blankSpace {
  flex: 5;
}

#navImg {
  object-fit: cover;
  height: 7vh;
  flex: 0;
  background: cornsilk;
  border: 0.2vw ridge;
}

header {
  background-image: url(/img/notebook.jpeg);
  background-size: cover;
  height: 60vh;
  background-position: center;

}

section {
  display: flex;
  justify-content: space-around;
}

#Mohawk {
  align-items: center;
  height: 25vh;
}

img:hover {
  border: 0.4vw inset;
  background-image: url(/img/spazzygif.gif);
}

.logo {
  object-fit: cover;
  height: 6vh;
}
  
  p:hover {
    color: black;
  }

  .content {
    background-image: url(/img/paper.jpeg);
    border: 0.4vw ridge;
    flex: 1;
    margin: 0 auto;
    width: 100vw;
  }

.content:hover {
  flex: 2;
}

.stud {
  object-fit: cover;
  height: 45vh;
  width: 45vw;
  border-radius: 50px;
  border: 0.4vw outset;
}

#scroll {
  display: flex;
  justify-content: space-around;
}

#cactus {
  object-fit:cover;
  height: 40vh;
  width: 85%;
  object-position: top;
  border: 0.4vw outset;
  border-radius: 50px;
}

* {
  box-sizing: border-box;
}

  ul:hover {
    color:black;
  }

  #Info {
    background: cornsilk;
    align-items: center;
    
    padding: 2vw;
    padding-bottom: 0px;
  }

  #info {
    display: flex;
    background: blanchedalmond;
    justify-content: space-around;
    padding: 2vw;
    padding-bottom: 20vw;
  }

  .C:hover {
    background:cornsilk;
  }

  @media only screen and (max-width: 768px) {

    section {
      flex-direction: column;
    }

    nav {
      flex-direction:column-reverse;
    }

    #navImg {
      height: 3vh;
      width: 10vw;
    }

    header {
      height: 90vh;
      background-position: center;
    }

    #info {
      flex-direction: column;
    }

    #Info {
      margin: 0 auto;
      padding-bottom: 0;
      margin-bottom: -2vh;
    }

    .sem1 {
      display: flex;
    justify-content: space-between;
    align-items: center
    }

    #scroll {
      overflow-x:scroll;
      width:90vw;
      justify-content: flex-start;
      box-shadow: 1vw 0 1vw gray;
    }

    .stud {
      width: 80vw;
      object-position: center;
    }
    
  }